<div id="chart" class="tree-map" [class.hidden]="!data?.children?.length">
  <form>
    <label><input type="radio" name="mode" value="size" checked> Size</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
    <button md-icon-button
            [md-tooltip]="'Merge Like Entities'"
            tooltip-position="below"
            (click)="handleMergeClick()"
            class="merge-button"
            type="button">
      <md-icon>{{merging ? 'save' : 'merge_type'}}</md-icon>
    </button>
  </form>
</div>

<span *ngIf="!data?.children?.length">No data to display</span>
