@import '~@angular/material/core/theming/_palette';

$link-color: steelblue;
$navbar-color: whitesmoke;
$application-font: Roboto, "Helvetica Neue", sans-serif;
$subtext-color: map-get($md-grey, 600);
$highlight-color: map-get($md-yellow, 600);
$link-diagram-link-color: #999;
$link-diagram-node-color: #fff;