<rvn-sources-list [sources]="project.sources"
                  [showAdd]="true"
                  [showIcons]="true"
                  [showVisibilityIcons]="true"
                  [showNoSourcesMessage]="showNoSourcesMessage && !project.sources?.length"
                  (pillClicked)="toggleVisibility($event)"
                  (addSourceClicked)="showNewSource()"></rvn-sources-list>

<div class="project-view-wrapper">
    <rvn-project-view [project]="project"
                      [visibleSources]="visibleSources"></rvn-project-view>
</div>

<rvn-new-source
        *ngIf="newSourceVisible"
        [project]="project"
        (created)="addSource($event)"
        (done)="hideNewSource()"
        (cancelled)="hideNewSource()"></rvn-new-source>

