div {

  &.project-view-wrapper {
    margin-top: 0px;
    position: absolute;
    top: 90px;
  }
}

a {
  &.export-link {
    visibility: hidden;
  }
}

div {
  &.export-block {
    display: flex;
    align-items: center;


    span {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
