div {

  &.source-list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &.project-view-wrapper {
    margin-top: 20px;
  }

  &.new-source-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
