<div *ngIf="!newSourceVisible">

  <div class="flex-between">
    <rvn-sources-list [sources]="project.sources"
                      [showAdd]="true"
                      [showIcons]="true"
                      [showVisibilityIcons]="true"
                      [showNoSourcesMessage]="showNoSourcesMessage && !project.sources?.length"
                      (pillClicked)="toggleVisibility($event)"
                      (addSourceClicked)="showNewSource()"></rvn-sources-list>


    <button md-button
            [mdTooltip]="'Export'"
            mdTooltipPosition="below"
            class="project-button"
            type="button"
            (click)="exportProject()">
      <md-icon>file_download</md-icon>
    </button>
  </div>

  <div class="project-view-wrapper">
    <rvn-project-view [project]="project"
                      [visibleSources]="visibleSources"></rvn-project-view>
  </div>
</div>
