@import '../../../variables';

$file-over-color: forestgreen;

md-card {

  &.source-queue-card {
    position: absolute;
    bottom: 70px;
    left: 55px;
    z-index: 2;
    min-width: 150px;
    width: 65%;
    max-height: 300px;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow-y: auto;
    overflow-x: hidden;

    md-card-title {
      font-size: 12px;
    }
  }
}

md-card-content {
  min-width: 300px;
  width: 100%;
}

md-card-actions {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  button {
    margin-left: 10px;
  }
}

button {
  &.file-selector {
    left: 39%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }
}

textarea {
  width: 50%;
  height: 75px;
  border: dotted 3px lightgray;
  border-radius: 10px;

  &.new-source-file-over {
    border: dotted 3px $file-over-color;
  }
}

div {

  &.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &.source-list {

    span {
      display: block
    }

    h2 {
      display: inline-block;
    }

    button {
      float: right;
      margin-top: 10px;
    }
  }

  &.progress-indicator {
    margin-top: 30px;
  }

  &.source-file-drop {
    width: 50%;
    text-align: center;
  }
}

span {
  &.queued-sources-message {
    font-size: 12px;
  }
}

input {
  &[type='file'] {
    display: none;
  }
}

.or {
  text-align: left;
  right: 100%;

}

.file-finder {
  width: 50%;
}
