<md-card-content>

  <div class="search-wrapper">
    <md-input-container>
      <input mdInput
             autofocus
             placeholder="Search">
    </md-input-container>

    <div ng2FileDrop
         class="source-file-drop"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader">

      <textarea [formControl]="rawSourcesControl"
                [attr.placeholder]="uploaderPlaceholder"
                [ngClass]="{'new-source-file-over': fileOver}"></textarea>

    </div>
  </div>

  <div class="file-selector-button-wrapper">
    <input #fileInput
           ng2FileSelect
           [uploader]="uploader"
           name="file"
           type="file"
           multiple
           accept=".pdf,.doc,.docx,.txt">

    <button md-raised-button
            class="file-selector"
            (click)="openFileDialog()"
            [disabled]="busy">Choose Files</button>
  </div>

  <rvn-source-search></rvn-source-search>
</md-card-content>

<md-card-actions>

  <button md-button
          [mdTooltip]="'Show Source Queue'"
          (click)="toggleQueue()">
    <md-icon>list</md-icon>
  </button>

  <button md-button
          color="primary"
          (click)="addSources()"
          [disabled]="busy || !sourcesPending">Add Sources
  </button>

  <button md-button
          [disabled]="busy"
          (click)="cancel()">Done
  </button>

  <md-card *ngIf="showQueue" class="source-queue-card">

    <md-card-title>
      <div class="flex-between">
        <h3>
          Pending Sources
        </h3>
        <button md-button
                (click)="toggleQueue()">
          <md-icon>remove</md-icon>
        </button>
      </div>
    </md-card-title>

    <!-- Files -->
    <div class="source-list">

      <h4>Files</h4>
      <span *ngIf="!fileSources.length">(empty)</span>
      <rvn-sources-list [sources]="fileSources"
                        (pillClicked)="removeFile($event)"></rvn-sources-list>
    </div>

    <!-- Links -->
    <div class="source-list">

      <h4>Links</h4>
      <span *ngIf="!linkSources.length">(empty)</span>
      <rvn-sources-list [sources]="linkSources"
                        (pillClicked)="removeLink($event)"></rvn-sources-list>
    </div>

    <!-- Sources -->
    <div class="source-list">

      <h4>Plain Text</h4>
      <span *ngIf="!textSources.length">(empty)</span>
      <rvn-sources-list [sources]="textSources"
                        (pillClicked)="removeText($event)"></rvn-sources-list>
    </div>

    <!-- Progress indicator -->
    <div [ngSwitch]="state" class="progress-indicator">
      <span>{{state.message}}{{uploadError}}</span>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.UPLOADING_FILES"
                       mode="indeterminate"></md-progress-bar>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.ADDING_SOURCES"
                       mode="indeterminate"></md-progress-bar>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.DONE"
                       mode="determinate"
                       value="100"></md-progress-bar>
    </div>

  </md-card>

</md-card-actions>
