@import '../../../variables';

div {

  &.applied-filter-wrapper {
    margin-top: 10px;
    width: 100%;

  }
  &.search-container {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &.search-results-bar {
    background-color: $light-gray;;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 10px;
  }

  &.search-results-container {
    width: 68%;

    md-list {
      // Don't really like this, but it does the job.
      // TODO: Figure out how to work 100% width.
      //
      max-width: 90%;

    }
  }

  &.search-facets-container {
    width: 30%;
    margin-top: 20px;

  }

  &.peer-reviewed-indicator {

    display: flex;
    align-items: center;

    md-icon {
      margin-right: 6px;
    }
  }
}

md-list-item {
  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.02);
  }

  & > div {
    margin-top: 10px;
  }
}

md-input-container {
  width: 50%;
  margin-top: 50px;

}
