:host {
  width: 100%;
}

div {
  &.sources-container {
    width: 100%;
  }

  &.pill-wrapper {
    margin: 5px;
    max-width: 180px;
    display: inline-block
  }
}

md-icon {
  &:hover {
    cursor: pointer;
  }
}
