@import '../../../variables';

div {
  &.video-wrapper {
    background-color: rgba(0, 0, 0, .45);
  }

  &.carousel {
    margin-top: 20%;
    width: 100%;
    color: white;
    min-height: 130px;
    text-align: center;
    font-size: 24px;
    line-height: 1em;
    overflow: hidden;

    .carousel-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      width: 90%;
      position: absolute;
    }
  }
}

//Video styling
.fullscreen {
  position: fixed;
  margin-top: 200px;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &.marketing-video {
    background: url(../../../assets/images/RavenMovie.jpg);
  }

}

.shader {
  background-color: rgba(0, 0, 0, .8);
  z-index: -1;
  margin-top: 0;
  padding-left: 1%;
}

//login Button

.tryNow {
  color: $white;
  cursor: pointer;
  background-color: $link-color;
  border: none;
  height: 60px;
  font-size: 20px;
  font-family: $application-font;
  padding: 10px;
  border-radius: 40px;
  display: block;
  margin: 20px auto;

  & a {
    color: $white;
  }
}

//login styles
div {
  &.login-wrapper {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
  }
}
