<section>
  <div class="content-wrapper">
    <div class="fullscreen shader">
    </div>

    <div class="video-wrapper">
      <video autoplay muted loop poster="../../../assets/images/RavenMovie.jpg"
             class="fullscreen marketing-video" width="100%" height="100%">
        <source src="../../../assets/RavenMovie.mp4" type="video/mp4">
      </video>
    </div>

    <div class="carousel">
      <div *ngFor="let carouselText of carouselTextList; let i = index"
           class="carousel-slide">

        <p *ngIf="i === currentCarouselSlide"
           @animateCarousel>
          {{carouselText}}
        </p>
      </div>

      <button (click)=register() class="tryNow">
        TRY NOW FOR FREE
      </button>
    </div>

    <div class="social-media-icons">
      <a href="https://www.facebook.com/ravenanalytics/"
         class="social-media-link"
         target="_blank">

        <i class="fa fa-3x fa-facebook-square facebook-color-scheme"
           aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/company-beta/16218071/"
         class="social-media-link"
         target="_blank">

        <i class="fa fa-3x fa-linkedin-square linkedin-color-scheme"
           aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
