<datatable
    #rvnDataTable
    class="material fullscreen expandable"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="50"
    [scrollbarH]="true"
    [cssClasses]="cssClasses"
    [detailRowHeight]="'auto'"
    [rowHeight]="'auto'">

  <datatable-row-detail-template>
    <template let-row="row">
      <rvn-entity-card [entity]="row"></rvn-entity-card>
    </template>
  </datatable-row-detail-template>
  <datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
    <template let-row="row">
        <md-icon [@iconExpandTransition]="rowExpandedState(row.$$expanded)"
                 class="clickable-icon"
                 (click)="toggleExpandRow(row)">chevron_right
        </md-icon>
    </template>
  </datatable-column>
  <datatable-column name="Name"></datatable-column>
  <datatable-column name="Type"></datatable-column>
  <datatable-column name="Sentiment"></datatable-column>
  <datatable-column name="Relevance"></datatable-column>
</datatable>