@import '../../../../variables';

:host {
  font-family: $application-font
}

md-icon {
  color: lighten($primary-gray, 10%);
  &.clickable-icon {
    cursor: pointer;
  }
}

datatable-body {
  max-height: 600px;
}
