<form (ngSubmit)="publishData.emit(model)" #citationForm="ngForm">

  <!-- Title -->
  <md-input-container>
    <input mdInput
           placeholder="Title"
           name="title"
           required
           [(ngModel)]="model.title">
  </md-input-container>

  <!-- Issue -->
  <md-input-container>
    <input mdInput
           placeholder="Issue"
           name="issue"
           required
           [(ngModel)]="model.issue">
  </md-input-container>

  <!-- Volume -->
  <md-input-container>
    <input mdInput
           placeholder="Volume"
           name="volume"
           required
           [(ngModel)]="model.volume">
  </md-input-container>

  <!-- Restarts -->
  <md-input-container>
    <input mdInput
           placeholder="Restarts"
           name="restarts"
           required
           [(ngModel)]="model.restarts">
  </md-input-container>

  <!-- Series -->
  <md-input-container>
    <input mdInput
           placeholder="Series"
           required
           name="series"
           [(ngModel)]="model.series">
  </md-input-container>

  <!-- Year -->
  <md-input-container>
    <input mdInput
           placeholder="Year Published"
           required
           minlength="4"
           maxlength="4"
           type="number"
           name="year"
           [(ngModel)]="model.year">
  </md-input-container>

  <!-- Start -->
  <md-input-container>
    <input mdInput
           placeholder="Start Page of Article"
           name="start"
           [(ngModel)]="model.start">
  </md-input-container>

  <!-- End -->
  <md-input-container>
    <input mdInput
           placeholder="End Page of Article"
           name="end"
           [(ngModel)]="model.end">
  </md-input-container>

  <!-- Nonconsecutive -->
  <md-checkbox name="nonconsecutive"
               [mdTooltip]="'Check this box if the page numbers reset for each new article.'"
               [(ngModel)]="model.nonconsecutive">
    Non-Consecutive
  </md-checkbox>

  <button md-button
          color="primary"
          type="submit"
          [disabled]="saveDisabled || !citationForm.form.valid">
    Save
  </button>
</form>
