<div class="entity-card-wrapper">
  <md-card>

    <md-card-title>
      {{entity?.name}}
    </md-card-title>

    <md-card-content>
      <div class="entity-datum">Occurrences: {{entityCount}}</div>
      <div class="entity-datum">Sources: {{entity?.sources?.length || 0}}</div>

      <div>
        <p class="card-preview"
           *ngFor="let source of entity?.sources">

          <rvn-source-preview [source]="source"></rvn-source-preview>
        </p>
      </div>

    </md-card-content>
  </md-card>
</div>
