<form (ngSubmit)="handleSubmit()" #titleForm="ngForm">

  <md-card-content>

    <!-- Title -->
    <md-input-container>
      <input mdInput
             placeholder="Project Title"
             name="project-title"
             required
             [(ngModel)]="titleData.title">
    </md-input-container>

    <!-- Type -->
    <md-input-container>
      <input mdInput
             placeholder="Project Type"
             name="project-type"
             required
             [(ngModel)]="titleData.type">
    </md-input-container>

    <!-- Type -->
    <md-input-container>
      <input mdInput
             placeholder="Citation Style"
             name="citation-style"
             required
             [(ngModel)]="titleData.citationStyle">
    </md-input-container>

  </md-card-content>

  <md-card-actions>
    <button md-raised-button
            (click)="cancelled.emit()">Cancel</button>

    <span clas="wide-nav"></span>

    <button md-raised-button
            (click)="next.emit()">Next</button>

  </md-card-actions>
</form>
