md-card-actions {
  display: flex;
  align-content: center;
}

span {
  &.push {
    flex: 1 1 auto;
  }
}

div {
  &.form-wrapper {
    display: block;
    width: 100%;
  }

  &.form-input-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
  }

}

.form-input-element {
  width: 80%;
  min-width: 270px;
}
