<form (ngSubmit)="handleSubmit()" #titleForm="ngForm">

  <md-card-content>

    <p>
      Add as much or as little information as you'd like below - the more
      you add, the more of your project we'll be able to set up for you.
    </p>

    <p>
      You can always change it later!
    </p>

    <div class="form-wrapper">
      <!-- Title -->
      <div class="form-input-wrapper">
        <md-input-container
          class="form-input-element">
          <input mdInput
                 placeholder="Project Title"
                 class="form-input-element"
                 name="project-title"
                 required
                 [(ngModel)]="titleData.title">
        </md-input-container>
      </div>

      <!-- Project Template Type-->
      <div class="form-input-wrapper">
        <md-select placeholder="Project Type"
                   class="form-input-element"
                   name="projectType"
                   [(ngModel)]="titleData.type">
          <md-option *ngFor="let projectTemplateType of projectTemplateTypeList"
                     [value]="projectTemplateType">
            {{projectTemplateType.name}}
          </md-option>
        </md-select>
      </div>

      <!-- Citation Style -->
      <div class="form-input-wrapper">
        <md-select placeholder="Citation Style"
                   class="form-input-element"
                   name="citationStyle"
                   [(ngModel)]="titleData.citationStyle">
          <md-option *ngFor="let citationStyle of citationStyleList"
                     [value]="citationStyle">
            {{citationStyle.name}}
          </md-option>
        </md-select>
      </div>
    </div>

  </md-card-content>

  <md-card-actions>
    <button md-raised-button
            type="button"
            (click)="cancelled.emit()">Cancel</button>

    <span class="flex-push"></span>

    <button md-raised-button
            type="submit">Next</button>

  </md-card-actions>
</form>
