<form [formGroup]="form" (ngSubmit)="onSubmit()" class="source-form">

    <div formArrayName="urls" class="url-list">
        <div *ngFor="let url of form.controls.urls.controls; let i=index">
            <div [formGroupName]="i">
                <md-input formControlName="title" placeholder="Title" required></md-input>
                <md-input formControlName="content" placeholder="URL" required></md-input>
                <button md-icon-button type="button" (click)="removeUrlSource(i)">
                    <md-icon>remove</md-icon>
                </button>
            </div>
        </div>

    </div>

    <div class="submit-wrapper">
        <button md-raised-button type="submit" color="primary" [disabled]="!form.valid">Add Sources</button>
        <button md-raised-button type="button" (click)="cancelled.emit()">Cancel</button>
    </div>
</form>

<button  md-raised-button (click)="addUrlSource()" color="secondary">Add another URL</button>
