<md-card>
  <md-card-content>

    <p>
      Use the area below to add some sources - you can copy links (each on a separate line), paste plain text, or
      even drag files to upload them. Don't worry - we'll confirm each source with you before sending it to the
      text analytics engine.
    </p>

    <div ng2FileDrop
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader">

        <textarea [formControl]="rawSourcesControl"
                  [ngClass]="{'new-source-file-over': fileOver}"></textarea>
    </div>

    <h2>Files</h2>
    <span *ngIf="!fileSources.length">(empty)</span>
    <rvn-sources-list [sources]="fileSources"
                      (pillClickEventEmitter)="removeFile($event)"></rvn-sources-list>

    <h2>Links</h2>
    <span *ngIf="!linkSources.length">(empty)</span>
    <rvn-sources-list [sources]="linkSources"
                      (pillClickEventEmitter)="removeLink($event)"></rvn-sources-list>

    <h2>Plain Text</h2>
    <span *ngIf="!textSources.length">(empty)</span>
    <rvn-sources-list [sources]="textSources"
                      (pillClickEventEmitter)="removeText($event)"></rvn-sources-list>
  </md-card-content>

  <md-card-actions align="end">
    <button md-button color="primary">Add Sources</button>
    <button md-button (click)="cancelled.emit()">Cancel</button>
  </md-card-actions>
</md-card>
