@import '../../../variables';

p {
  margin-top: 24px;
}

div {
  &.citation-body {
    margin-top: 24px;
    min-width: 420px;
  }

  &.citation-list {
    @extend .citation-body;
  }

  &.citation-editor {
    @extend .citation-body;
  }
}
