@import '../../../variables';

p {
  margin-top: 24px;
}

div {
  &.title {
    width: 100%;
    align-items: center;
  }

  &.center-header {
    display: flex;
    align-items:center;
    margin-bottom: 12px;

    md-icon {
      margin-right: 24px;
    }
  }

  &.citation-body {
    margin-top: 24px;
    min-width: 420px;
  }

  &.citation-list {
    @extend .citation-body;
  }

  &.citation-editor {
    @extend .citation-body;
  }
}
