<form (ngSubmit)="publishData.emit(model)" #citationForm="ngForm">

  <!-- Title -->
  <md-input-container>
    <input mdInput
           placeholder="Title"
           name="title"
           required
           [(ngModel)]="model.title">
  </md-input-container>

  <!-- Institution -->
  <md-input-container>
    <input mdInput
           placeholder="Associated Institution"
           name="inst"
           required
           [(ngModel)]="model.inst">
  </md-input-container>

  <!-- Day -->
  <md-input-container>
    <input mdInput
           placeholder="Day Published"
           min="1"
           max="31"
           name="day"
           type="number"
           required
           [(ngModel)]="model.day">
  </md-input-container>

  <!-- Month -->
  <md-select placeholder="Month Published"
             name="month"
             required
             [(ngModel)]="model.month">
    <md-option *ngFor="let month of months" [value]="month">
      {{ month }}
    </md-option>
  </md-select>

  <!-- Year -->
  <md-input-container>
    <input mdInput
           placeholder="Year Published"
           required
           minlength="4"
           maxlength="4"
           type="number"
           name="year"
           [(ngModel)]="model.year">
  </md-input-container>

  <!-- URL -->
  <md-input-container>
    <input mdInput
           placeholder="URL"
           name="url"
           type="url"
           required
           [(ngModel)]="model.url">
  </md-input-container>

  <!-- Day Accessed -->
  <md-input-container>
    <input mdInput
           placeholder="Day Accessed"
           type="number"
           min="1"
           max="31"
           name="dayaccessed"
           [(ngModel)]="model.dayaccessed">
  </md-input-container>

  <!-- Month Accessed -->
  <md-select placeholder="Month Published"
             name="monthaccessed"
             required
             [(ngModel)]="model.monthaccessed">
    <md-option *ngFor="let month of months" [value]="month">
      {{ month }}
    </md-option>
  </md-select>

  <!-- Year Accessed -->
  <md-input-container>
    <input mdInput
           placeholder="Year Accessed"
           type="number"
           minlength="4"
           maxlength="4"
           name="yearaccessed"
           [(ngModel)]="model.yearaccessed">
  </md-input-container>

  <button md-button
          color="primary"
          type="submit"
          [disabled]="!citationForm.form.valid">
    Save
  </button>
</form>
