<div class="floating-entity-card"
     @entityCardInOut
     *ngIf="activeEntity"
     [style.right]="cardX"
     [style.top]="cardY">

  <rvn-entity-card
    (close)="closeCard()"
    [entity]="activeEntity"></rvn-entity-card>
</div>

<md-card class="project-container">
  <div class="navigation-container">
    <div class="md-nav-iteml" [mdTooltip]="'Data Table'">
      <a [class.active]="activeView === Views.DATA_TABLE"
         (click)="goTo(Views.DATA_TABLE)">
        <md-icon>list</md-icon>
      </a>
    </div>
    <div class="md-nav-item" [mdTooltip]="'Network Diagram'">
      <a [class.active]="activeView === Views.ENTITY_RELATIONSHIPS"
         (click)="goTo(Views.ENTITY_RELATIONSHIPS)">
        <md-icon>bubble_chart</md-icon>
      </a>
    </div>
    <div class="md-nav-item" [mdTooltip]="'Tree Map'">
      <a [class.active]="activeView === Views.TREE_MAP"
         (click)="goTo(Views.TREE_MAP)">
        <md-icon>view_compact</md-icon>
      </a>
    </div>
    <div class="md-nav-item" [mdTooltip]="'Search Articles'">
      <a [class.active]="activeView === Views.SEARCH"
         (click)="goTo(Views.SEARCH)">
        <md-icon>search</md-icon>
      </a>
    </div>
    <div class="md-nav-item" [mdTooltip]="'Citations'">
      <a [class.active]="activeView === Views.CITATIONS"
         (click)="goTo(Views.CITATIONS)">
        <md-icon>format_quote</md-icon>
      </a>
    </div>
  </div>

  <div class="active-view-container" [ngSwitch]="activeView">

    <div class="project-composer-wrapper">
      <md-card>
        <rvn-accordion [title]="'Project Composer'">
          <md-card-title>
            <div class="save-message"
                 [class.hide-save-message]="hideSaveMessage">{{saveStatus}}
            </div>
          </md-card-title>

          <div [froalaEditor] [froalaModel]="project.notes" (froalaModelChange)="froalaModelChanged($event)"></div>
        </rvn-accordion>
      </md-card>
    </div>

    <!-- Citations -->
    <div *ngSwitchCase="Views.CITATIONS" class="card-wrapper">
      <md-card-title>Citations</md-card-title>
      <rvn-citation-manager [project]="project"></rvn-citation-manager>
    </div>

    <!-- Tree Map -->
    <div *ngSwitchCase="Views.TREE_MAP" class="card-wrapper">
      <md-card-title>Tree Map</md-card-title>
      <div class="tree-map-wrapper">
        <rvn-tree-map
          [data]="visibleSources | toTreeMap : resolutions"
          (entityClick)="updateEntityFromTreeMap($event)"></rvn-tree-map>
      </div>
    </div>

    <!-- Link Diagram -->
    <div *ngSwitchCase="Views.ENTITY_RELATIONSHIPS" class="card-wrapper">
      <md-card-title>Network Diagram</md-card-title>
      <rvn-link-diagram
        [data]="visibleSources | toLinkDiagram : resolutions"
        (entityClick)="updateEntityFromLinkDiagram($event)"></rvn-link-diagram>
    </div>

    <!-- Data Table -->
    <div *ngSwitchCase="Views.DATA_TABLE" class="card-wrapper">
      <md-card-title>Data Table</md-card-title>
      <rvn-data-table
        [rows]="visibleSources | tabulateSources : resolutions"></rvn-data-table>
    </div>

    <!-- Search -->
    <div *ngSwitchCase="Views.SEARCH" class="card-wrapper">
      <md-card-title>Search</md-card-title>
      <rvn-source-search (resultSelected)="handleSearchClick($event)"></rvn-source-search>
    </div>

  </div>
</md-card>
