@import '../../../variables';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.side {
  width: 260px;
  float: left;
  background-color: #263238;
  height: 650px;
}

.mainContent {
  background-color: #f5f5f5;
  height: 650px;
  //float: left;
}

.project {
  height: 650px;
}

i, .fa {
  color: white;
  //float: left;
  display: inline;
}

.navTitle {
  color: white;
}

p {
  color: white;
}

li {
  margin: 30px 0px 50px 0px;
}

span {
  color: white;
}

md-card-title {

  div {
    &.notes-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .notes-title {
        white-space: nowrap;
      }
    }

    &.save-message {
      font-size: 10px;
      color: $subtext-color;
      text-align: right;

      &.hide-save-message {
        visibility: hidden;
      }
    }
  }
}

div {

  &.card-wrapper {
    width: 100%;
  }

  &.col {
    width: 100%;
    min-width: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &.double-col {
    width: 100%;
  }

  &.triple-col {
    width: 100%;
  }

  &.row {
    width: 100%;
    margin-bottom: 10px;
  }

  &.floating-entity-card {
    position: absolute;
    right: 0;
    z-index: 5;
  }
}

a {
  &.fragment-link:before {
    background-color: $icon-color;
  }
}


textarea {
  width: 100%;
  height: 175px;
  border: 0;
  border-bottom: 1px solid black;
}


@media (max-width: 750px) {
  div {
    &.col {
      width: 100%;
    }
  }
}
