<div class="floating-entity-card"
     @entityCardInOut
     *ngIf="activeEntity"
     [style.right]="cardX"
     [style.top]="cardY">

  <rvn-entity-card
    (close)="closeCard()"
    [entity]="activeEntity"></rvn-entity-card>
</div>


<md-sidenav-container class="project">
  <md-sidenav class="side">
    <ul style="list-style: none;">
      <li>
        <span class="navTitle">Tools</span>
      </li>
      <li>
        <a [routerLink]="['table']" routerLinkActive="active"> <i class="fa fa-table fa-fw" aria-hidden="true">&nbsp;&nbsp;Grid Display</i></a>
      </li>
      <li>
        <a [routerLink]="['link']" routerLinkActive="active"> <i class="fa fa-link fa-fw" aria-hidden="true">&nbsp;&nbsp;Network Diagram</i></a>
      </li>
      <li>
        <a [routerLink]="['treemap']" routerLinkActive="active"> <i class="fa fa-th fa-fw" aria-hidden="true">&nbsp;&nbsp;Tree Map</i></a>
      </li>
      <li>
        <a [routerLink]="['search']" routerLinkActive="active"> <i class="fa fa-search fa-fw" aria-hidden="true">&nbsp;&nbsp;Search Articles</i></a>
      </li>
    </ul>
  </md-sidenav>

  <div class="mainContent"><div class=composer>
    <div class="col double-col">
      <div class="card-wrapper row">
        <md-card>
          <md-card-title id="projectComposer">Project Composer <a class="fragment-link" (click)="goTo('projectComposer')">
            <md-icon class="centered">link</md-icon>
          </a>
            <div class="save-message"
                 [class.hide-save-message]="hideSaveMessage">{{saveStatus}}
            </div>
          </md-card-title>

          <div [froalaEditor] [froalaModel]="project.notes" (froalaModelChange)="froalaModelChanged($event)"></div>
        </md-card>
      </div>
    </div>
  </div>
      <router-outlet></router-outlet>
  </div>
</md-sidenav-container>





