@import '../../../variables';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

md-card {
  &.project-container {
    width: 100%;
    //margin: 64px -5px 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

md-card-title {

  div {
    &.notes-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .notes-title {
        white-space: nowrap;
      }
    }

    &.save-message {
      font-size: 10px;
      color: $subtext-color;
      text-align: right;

      &.hide-save-message {
        visibility: hidden;
      }
    }
  }
}

div {

  &.card-wrapper {
    width: 100%;

  }

  &.active-view-container {
    width: 90%;
    margin: 30px;
    overflow: auto;
  }

  &.project-composer-wrapper {
    position: absolute;
    right: 42px;
    z-index: 2;
    & > md-card {
      padding: 12px;
      box-shadow: none;
      background-color: darken($light-gray, 8%);
      color: $link-color;
    }

  }

  &.floating-entity-card {
    position: absolute;
    right: 0;
    z-index: 5;
      background-color: yellow;
  }

  &.navigation-container {
    width: 32px;
    padding: 16px;
    background-color: $secondary-gray;
    margin: 0;

    div {
      margin-top: 16px;
    }

    md-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
      &:hover{
        color: $icon-hover;
      }
    }
  }
}

a {
  &.fragment-link:before {
    background-color: $icon-color;
  }
}


@media (max-width: 750px) {
  div {
    &.col {
      width: 100%;
    }
  }
}

.active>md-icon {
  color: $icon-hover;
}
