md-card {
  height: 20px;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
}

md-icon {
  font-size: initial;
  text-align: center;

  &.secondary-icon {
    float: right;
    position: absolute;
  }
}

div {
  &.title {
    max-width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block
  }
}
