<button md-button
        (click)="backClicked.emit()">
  <md-icon>keyboard_arrow_left</md-icon>
  Back
</button>

<md-card>

  <md-card-title>{{source.title}}</md-card-title>

  <md-card-content class="flex-between">

    <!--TODO: Add metadata -->
    <!--<div>-->
      <!--<div>Type: {{source.type}}</div>-->

      <!--<rvn-accordion [title]="'Content'" [maxContentHeight]="'300px'">-->
        <!--{{source.content}}-->
      <!--</rvn-accordion>-->
    <!--</div>-->

    <div>
      <md-select placeholder="Citation Style" [(ngModel)]="citationStyle">
        <md-option *ngFor="let citationStyle of citationStyleList"
                   [value]="citationStyle">
          {{citationStyle.name}}
        </md-option>
      </md-select>
      <md-select placeholder="Source Type" [(ngModel)]="sourceType">
        <md-option *ngFor="let sourceType of sourceTypeList"
                   [value]="sourceType">
          {{sourceType.name}}
        </md-option>
      </md-select>

      <div>

        <h4>Contributors:</h4>
        <div *ngFor="let contributor of contributors">
          <span *ngIf="contributor.first">{{contributor.first}} </span>
          <span *ngIf="contributor.middle">{{contributor.middle}} </span>
          <span *ngIf="contributor.last">{{contributor.last}} </span>
          <span>({{contributor.function}})</span>
        </div>

        <button *ngIf="!showContributorForm"
                md-button
                color="primary"
                (click)="showContributorForm = true">Add Another Contributor
        </button>
      </div>

      <div class="contributor-form-wrapper">
        <rvn-contributor-form *ngIf="showContributorForm"
                              (publishContributor)="addContributor($event)"></rvn-contributor-form>
      </div>

      <h4>Publication Information:</h4>
      <div [ngSwitch]="sourceType">
        <rvn-book-citation-form *ngSwitchCase="sourceTypes.book"
                                [saveDisabled]="!canSave"
                                (publishData)="saveCitation($event)"></rvn-book-citation-form>
        <rvn-chapter-citation-form *ngSwitchCase="sourceTypes.chapter"
                                   [saveDisabled]="!canSave"
                                   (publishData)="saveCitation($event)"></rvn-chapter-citation-form>
        <rvn-journal-citation-form *ngSwitchCase="sourceTypes.journal"
                                   [saveDisabled]="!canSave"
                                   (publishData)="saveCitation($event)"></rvn-journal-citation-form>
        <rvn-magazine-citation-form *ngSwitchCase="sourceTypes.magazine"
                                    [saveDisabled]="!canSave"
                                    (publishData)="saveCitation($event)"></rvn-magazine-citation-form>
        <rvn-newspaper-citation-form *ngSwitchCase="sourceTypes.newspaper"
                                     [saveDisabled]="!canSave"
                                     (publishData)="saveCitation($event)"></rvn-newspaper-citation-form>
        <rvn-website-citation-form *ngSwitchCase="sourceTypes.website"
                                   [saveDisabled]="!canSave"
                                   (publishData)="saveCitation($event)"></rvn-website-citation-form>
      </div>

    </div>
  </md-card-content>

</md-card>
