<md-card>
  <md-card-content>

    <p>
      Use the area below to add some sources - you can copy links (each on a separate line), paste plain text, or
      even drag files to upload them. Don't worry - you can see what sources you'll be uploading below before we deduct
      credits from your balance.
    </p>

    <p><em>Note:</em> Currently, only PDF (.pdf), Word (.doc and .docx), and plain text (.txt) files are supported. Any
      other file type will be ignored.</p>

    <div ng2FileDrop
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader">

        <textarea [formControl]="rawSourcesControl"
                  [ngClass]="{'new-source-file-over': fileOver}"></textarea>
    </div>

    <!-- Files -->
    <div class="source-list">

      <h2>Files</h2>
      <input #fileInput
             ng2FileSelect
             [uploader]="uploader"
             name="file"
             type="file"
             multiple
             accept=".pdf,.doc,.docx,.txt">

      <button md-raised-button (click)="openFileDialog()" [disabled]="busy">Choose Files</button>

      <span *ngIf="!fileSources.length">(empty)</span>
      <rvn-sources-list [sources]="fileSources"
                        (pillClicked)="removeFile($event)"></rvn-sources-list>
    </div>

    <!-- Links -->
    <div class="source-list">

      <h2>Links</h2>
      <span *ngIf="!linkSources.length">(empty)</span>
      <rvn-sources-list [sources]="linkSources"
                        (pillClicked)="removeLink($event)"></rvn-sources-list>
    </div>

    <!-- Sources -->
    <div class="source-list">

      <h2>Plain Text</h2>
      <span *ngIf="!textSources.length">(empty)</span>
      <rvn-sources-list [sources]="textSources"
                        (pillClicked)="removeText($event)"></rvn-sources-list>
    </div>

    <!-- Progress indicator -->
    <div [ngSwitch]="state" class="progress-indicator">
      <span>{{state.message}}{{uploadError}}</span>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.UPLOADING_FILES"
                       mode="indeterminate"></md-progress-bar>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.ADDING_SOURCES"
                       mode="indeterminate"></md-progress-bar>

      <md-progress-bar *ngSwitchCase="UPLOAD_STATES.DONE"
                       mode="determinate"
                       value="100"></md-progress-bar>
    </div>
  </md-card-content>

  <md-card-actions align="end">

    <button md-button
            color="primary"
            (click)="addSources()"
            [disabled]="busy || !sourcesPending">Add Sources
    </button>

    <button md-button
            [disabled]="busy"
            (click)="cancel()">Done
    </button>

  </md-card-actions>
</md-card>
