<span class="lg-show project-title" *ngIf="projectDaoService?.activeProject">CURRENT PROJECT: {{projectDaoService.activeProject.name}}</span>

<span class="wide-nav"></span>

<a class="lg-show" [routerLink]="['/sources']" routerLinkActive="active">SOURCES</a>
<a class="lg-show" [routerLink]="['/projects']" routerLinkActive="active">PROJECTS</a>

<button md-icon-button (click)="menuClick.emit()">
  <md-icon>menu</md-icon>
</button>

<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>

<md-menu #menu="mdMenu" x-position="before">
  <button md-menu-item (click)="showProfile()">Profile</button>
  <button md-menu-item (click)="signOut()">Sign Out</button>
</md-menu>
