<md-sidenav-container>
  <div class="project-open-area"></div>
  <!-- (mouseover)="start.open()" -->

  <md-toolbar [color]="primary">

    <img src="../assets/images/raven-logo.png" alt="RAVEN-Logo" height="45px" class="rvn-logo">

    <rvn-logged-in-toolbar *ngIf="loggedIn"
                           class="toolbar"
                           (signedOut)="signedOut()"
                           (menuClick)="start.open()"></rvn-logged-in-toolbar>

    <rvn-logged-out-toolbar *ngIf="!loggedIn"
                            (loggedIn)="authenticated()"
                            class="toolbar"></rvn-logged-out-toolbar>

  </md-toolbar>


  <md-sidenav *ngIf="loggedIn" #start>
    <!-- (mouseleave)="start.close()" -->
    <div class="md-nav-wrapper">

      <div class="md-nav-item navbar-title sm-show">
        <a [routerLink]="['/']"><img src="../assets/images/raven-logo.png" alt="RAVEN-Logo" height="45px" class="rvn-logo"></a>
      </div>

      <div class="md-nav-item sm-show">
        <a class="lg-link"
           (click)="start.close()"
           [routerLink]="['/sources']"
           routerLinkActive="active">SOURCES</a>
      </div>

      <div class="md-nav-item sm-show">
        <a class="lg-link"
           (click)="start.close()"
           [routerLink]="['/projects']"
           routerLinkActive="active">PROJECTS</a>
      </div>

      <div class="md-nav-item navbar-title">
        <span>RECENT</span>
      </div>

      <div *ngFor="let project of projects" class="md-nav-item">
        <a [routerLink]="['/project', project.id]"
           (click)="start.close()"
           routerLinkActive="active">{{ project.name }}</a>
      </div>
    </div>

  </md-sidenav>


  <rvn-landing *ngIf="!loggedIn"
               (registered)="authenticated()"></rvn-landing>

  <div class="router-outlet-wrapper" [hidden]="!loggedIn">
    <router-outlet></router-outlet>
  </div>

  <simple-notifications [options]="options"></simple-notifications>

</md-sidenav-container>
