<md-sidenav-container>
  <div class="project-open-area"></div>
  <!-- (mouseover)="start.open()" -->

  <md-sidenav #start>
    <!-- (mouseleave)="start.close()" -->
    <div class="md-nav-wrapper">

      <div class="md-nav-item navbar-title sm-show">
        <img src="../assets/images/raven-logo.png" alt="RAVEN-Logo" height="45px" class="rvn-logo">
      </div>

      <div class="md-nav-item sm-show">
        <a class="lg-link"
           (click)="start.close()"
           [routerLink]="['/sources']"
           routerLinkActive="active">SOURCES</a>
      </div>

      <div class="md-nav-item sm-show">
        <a class="lg-link"
           (click)="start.close()"
           [routerLink]="['/projects']"
           routerLinkActive="active">PROJECTS</a>
      </div>

      <div class="md-nav-item navbar-title">
        <span>RECENT</span>
      </div>

      <div *ngFor="let project of projects" class="md-nav-item">
        <a [routerLink]="['/project', project.id]"
           (click)="start.close()"
           routerLinkActive="active">{{ project.name }}</a>
      </div>
    </div>

  </md-sidenav>

  <md-toolbar [color]="primary">

    <img src="../assets/images/raven-logo.png" alt="RAVEN-Logo" height="45px" class="rvn-logo">

    <span class="lg-show project-title" *ngIf="projectDaoService?.activeProject">CURRENT PROJECT: {{projectDaoService.activeProject.name}}</span>

    <span class="wide-nav"></span>

    <a class="lg-show" [routerLink]="['/sources']" routerLinkActive="active">SOURCES</a>
    <a class="lg-show" [routerLink]="['/projects']" routerLinkActive="active">PROJECTS</a>

    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu" x-position="before">
      <button md-menu-item (click)="showProfile()">Profile</button>
      <button md-menu-item (click)="signOut()">Sign Out</button>
    </md-menu>

  </md-toolbar>

  <div class="router-outlet-wrapper">
    <router-outlet></router-outlet>
  </div>

  <simple-notifications [options]="options"></simple-notifications>

</md-sidenav-container>
