@import '../../variables';

:host {
  height: 100%;
}

md-sidenav {
  background-color: $light-gray;
}

md-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: $light-gray;
}

a {
  margin: 0 10px;
}

div {
  &.router-outlet-wrapper {
    margin: 25px 0px;
    height: 100%;
  }

  &.project-open-area {
    width: 40px;
    height: 100%;
    position: absolute;
  }

  &.navbar-title {
    margin-top: 24px;
  }
}

md-icon {
  color: #27a59b;
}

span {
  &.wide-nav {
    flex: 1 1 auto;
  }

  &.toolbar-title {
    margin-right: 20px;
  }

  &.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.lg-show {
    &.project-title {
      text-align: center;
    }
  }
}

.mat-toolbar {
  background-color: $primary-gray;
  color: $white;
  font-size: 16px;
}
