@import '../../variables';

:host {
  height: 100%;
}

md-sidenav {
  background-color: $navbar-color;
}

md-sidenav-container {
  height: 100%;
  width: 100%;
}

a {
  margin: 0 10px;
}

div {
  &.router-outlet-wrapper {
    margin: 15px 5px;
  }

  &.project-open-area {
    width: 40px;
    height: 100%;
    position: absolute;
  }

  &.navbar-title {
    margin-top: 24px;
  }
}

span {
  &.wide-nav {
    flex: 1 1 auto;
  }

  &.toolbar-title {
    margin-right: 20px;
  }

  &.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
