form {
  &.project-card-wrapper {
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

button {
  &.project-button {
    float: right;
  }
}