@import '../../../variables';
form {
  &.project-card-wrapper {
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    margin: 10px 50px;
    display: inline-block;

  }
}

button {
  &.project-button {
    float: right;
  }
}


 md-icon {
   color: $primary-gray;
   &:hover {
     color: $link-color;
   }
 }

 button, .mat-primary, .mat-button {
   color: $primary-gray;
   &:hover{
     background: transparent;
     color: $link-color;
   }

 }
