<md-sidenav-container>

  <md-toolbar [color]="primary">

    <img src="../assets/images/raven-logo.png" alt="RAVEN-Logo" height="45px" class="rvn-logo">

    <span class="wide-nav"></span>

  </md-toolbar>

  <div class="login-wrapper">

    <md-card>

      <md-card-title>
        Welcome to Raven
      </md-card-title>

      <md-card-subtitle>{{errorMessage}}</md-card-subtitle>

      <div class="forms-wrapper">
        <form (ngSubmit)="logIn()">

          <h4><small>Log In</small></h4>

          <div>
            <label for="email"><md-icon>email</md-icon>Email</label><br>
            <md-input-container>
              <input mdInput  type="email"
                     [(ngModel)]="login.email"
                     name="email"
                     id="email" required autofocus>
            </md-input-container>
          </div>

          <div>
            <label for="password"><md-icon>lock</md-icon>Password</label><br>
            <md-input-container>
              <input mdInput
                     type="password"
                     [(ngModel)]="login.password"
                     name="password"
                     id="password" required>
            </md-input-container>
          </div>

          <button md-raised-button type="submit" color="primary">Log In</button>
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>

          <img src="../../assets/facebook_login.png" alt="" style="margin-top: 10px; display: block" (click)="facebookLogin()">
          <img src="../../assets/google_login.png" alt="" style="margin-top: 10px; width: 240px; height: 46px; display: block" (click)="googleLogin()">

        </form>

      </div>
    </md-card>
  </div>


</md-sidenav-container>

