<md-toolbar [color]="primary">
  <span class="toolbar-title">RAVEN</span>

  <a *ngFor="let project of projects"
     [routerLink]="['project', project.id]"
     routerLinkActive="active">{{project.name}}</a>

  <span class="wide-nav"></span>
  <a routerLink="sources" routerLinkActive="active">SOURCES</a>
  <a routerLink="projects" routerLinkActive="active">PROJECTS</a>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item> Refresh </button>
    <button md-menu-item> Help </button>
    <button md-menu-item disabled> Sign Out </button>
  </md-menu>

</md-toolbar>

<div class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</div>
