<form (ngSubmit)="handleSubmit()" #bodyForm="ngForm">

  <md-card-content>

    <h4>Project Settings</h4>

    <!-- Title -->
    <md-input-container>
      <input mdInput
             placeholder="Title"
             name="title"
             required
             [(ngModel)]="bodyData.title">
    </md-input-container>

  </md-card-content>

  <md-card-actions>
    <button md-raised-button
            type="button"
            (click)="cancelled.emit()">Cancel</button>

    <span class="flex-push"></span>

    <button md-raised-button
            type="button"
            (click)="back.emit(bodyData)">Back</button>

    <button md-raised-button
            type="submit">Done</button>
  </md-card-actions>
</form>
