@import '../../../variables';
md-card {
  height: 20px;
  padding: 10px;
  cursor: pointer;
  min-width: 150px;
  border-radius: 12px;

}

md-icon {
  font-size: initial;
  text-align: center;
  color: $primary-gray;
  &:hover{
    color: $link-color;
  }

  &.visibility-icon {
    float: right;
    position: absolute;
  }
}

div {
  &.source-title {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block
  }
}
