<rvn-accordion [title]="facet.label"
               [maxContentHeight]="'200px'"
               [visible]="true"
               [ngSwitch]="facet.type">

  <!-- Named sets (ex.: apples, oranges, grapes) -->
  <div *ngSwitchCase="facetTypes.Nominal">
    <md-list dense>
      <md-list-item *ngFor="let value of facet.value"
                    (click)="handleFacetClick(facet.label, value)">

        <div class="flex-between">
          <span class="facet-value">{{value}}</span>
          <span>({{facet.count[value]}})</span>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <div class="boolean-container" *ngSwitchCase="facetTypes.Boolean">
    <md-checkbox (change)="handleFacetClick(facet.label, $event.checked)"></md-checkbox>
  </div>
</rvn-accordion>
