@import '../../../variables';

md-list-item {

  white-space: nowrap;

  span {
    color: $subtext-color;

    &.facet-value {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 5px;
    }
  }

  div {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.02);
  }
}

div {
  &.boolean-container {
    min-height: 52px;
    display: flex;
    align-items: center;

    md-checkbox {
      margin-left: 12px;
    }
  }
}
