<md-card>
  <md-card-title>{{project.name}}</md-card-title>
  <md-card-subtitle>
    <p>{{project.description}}</p>
  </md-card-subtitle>

  <md-card-actions align="end">
    <button *ngIf="canEdit && editing" md-button
            (click)="save()">Save</button>

    <button *ngIf="canEdit && editing" md-button
            (click)="cancel()">Cancel</button>

    <button *ngIf="canEdit && !editing" md-button
            (click)="edit()">Edit</button>

    <button *ngIf="canDelete" md-button
            (click)="destroy()">Delete</button>
  </md-card-actions>
</md-card>
